/* Eliminate the label margin on the list of trial locations. */
#trial-place label {
    margin: 0;
}
#beta-alert {
    background-color: rgb(245, 108, 108);
    color: #000;
    padding-left: 2em;
}
